.div-form{
    display: none;
    flex-direction: column; 
    width: 19em;
}

.b-f{
    width: 5em;
}

img{
    width: 10em;
}

.container{
    display: grid;
    grid-template-columns: 19em auto;
}

.container-review{
    display: block;
}

/*this time you are commiting*/