<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <title>Document</title>
</head>
<body>

    <div class="container-review" id="reviewsProduckt">
        <p>Tales of Monkey Island<br>Review the product!!!</p>
        <li style="text-align: right;"><a href="index.html">Gå tillbaka</a></li>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Tales_of_Monkey_Island_artwork.jpg/220px-Tales_of_Monkey_Island_artwork.jpg" alt="Tales of Monkey Island">
        <br>
        <input type="text" placeholder="Name" id="nameProduckt">
        <br>
        <textarea type="text" placeholder="Review comment" id="reviewProduckt"></textarea>
        <br>
        <h4>Rate the product from 1 - 5</h4>
        <select id="rateProduckt">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
    <button class="postReview">Post Review</button><br>
    <h2>Reviews</h2>
</div>
<script src="../js/review.js"></script>
</body>
</html>